/* Variables */
$primary_colour: darkgreen;
$secondary_colour: lightpink;

$text_colour: black;
$body_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$margins: 20px;


/* Mixins */
@mixin button($width, $height, $background-colour, $border-colour){
    background-color: $background-colour;
    width: $width;
    height: $height;
    border-color: $border-colour;

    color: black;
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main {
    flex-grow: 1;
    margin: 0px 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    padding: 0px 10px;
}

.h-info {
    display: flex;
    flex-direction: column;
}

.player-board-container {
    display: flex;
    justify-content: center;
    //margin: 0px 100px;
    background-color: $secondary_colour;
}

.player-board-container div {
    text-align: center;
}

.buffer-container {
    min-width: 85px;
}

.player-board {
    min-width: 350px;
    height: 300px;
    margin: 0px 20px;
    background-color: lightgreen;
}

.dice-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.dice-container img {
    width: 50px;
}

.total-score {
    background-color: lightskyblue;
}

/* Buttons */
.btn-container {
    display: flex;
    justify-content: center;
    margin: $margins;
}

footer {
    background-color: lightcyan;
    margin-top: 30px;
}

h2 {
    margin-top: 10px;
}