/* Variables */
$primary_colour: black;

$primary_font_colour: white;
$body_font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$title_font: 'Almendra', serif;

$margins: 20px;

$button_border: 2px solid none;