/* Variables */
$primary_colour: darkgreen;
$secondary_colour: lightpink;

$text_colour: black;
$body_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$margins: 20px;

