/* Variables */
$primary_colour: black;

$primary_font_colour: white;
$body_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$margins: 20px;

$button_border: 2px solid none;